{% extends "index.html" %}
{% block content %}
<section>
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center main__container">
                  <div class="col error">
                    <div class="align-middle">
                      <h1><span class="code">401.7</span> Access denied by URL authorization policy on the Web server.</h1>  <br> <h3>This error code is specific to IIS 6.0.</h3></div>
                    </div>
                </div>
            </div>
    </section>
    {% endblock content %}
