{% extends "index.html" %}
{% block content %}
<section>
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center main__container">
                  <div class="col error">
                    <div class="align-middle">
                      <h1><span class="code">404</span>Page Not Found.</h1>  <br> <h3>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable. </h3></div>
                    </div>
                </div>
            </div>
    </section>
    {% endblock content %}
