{% extends "index.html" %}
{% block content %}
<div class="row ">
  <div class="container-fluid d-flex justify-content-center align-items-center main__container">
    <div class="col-12 col-sm-3 content1 clearfix">
                    <div class="col-10 col-md-4 content-section">
                      <form method="POST" action="/upload" enctype="multipart/form-data">
                          <div class="form-group">
                          <label for="inputFile">File input</label>
                          <input type="file" name="inputFile" accept="image/jpeg" >
                          </div>
                          <button type="submit" class="btn btn-outline-info">submit</button>
                          </form>
                            </div>


            </div>
        </div>
    </div>
    {% endblock content %}
